modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start ParentPal Server"

[[workflows.workflow]]
name = "Start ParentPal Server"
author = 30678321
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx tsx server/index.ts"

[[ports]]
localPort = 5000
externalPort = 80
